body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fce4ec;
    transition: 0.3s;
}

h1 { color: #d81b60; }

.login-box, .card, .complaint-box, .contact, .emergency {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #d81b60;
    color: white;
}

.mode-btn { background: #6a1b9a; }

input, select, textarea { padding: 10px; margin: 10px; width: 60%; }

.card:hover { transform: scale(1.05); }

.call-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.dark { background-color: #1e1e1e; color: white; }
.dark .card, .dark .login-box, .dark .emergency { background: #333; color: white; }

#welcomeScreen { padding: 50px; }

/* COMPLAINT CARD STYLING */
.complaint-card {
    background: #ffe4e1;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    width: 70%;
    text-align: left;
    border-left: 5px solid #d81b60;
}

.complaint-card.resolved {
    background: #e0ffe0;
    border-left: 5px solid #4caf50;
}

